*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

html, body{
    box-sizing: border-box;
    
    z-index: -1;
}


/* Portrait tablets and small desktops */
@media (max-width: 1100px) {
    
}
/* Landscape phones and portrait tablets */
@media (max-width: 750px) {
    
}
 



/* Large desktops and laptops */
@media (min-width: 1200px) {
    
}

/* Portrait tablets and medium desktops */
@media  (max-width: 1199px) {
    header{
        section{
            .header__head{
                .header__menu{
                    .menu{
                        a{
                            font-size: 12px;    
                        }
                    }
                }   
                    
            }
            .header__container{
                
                .container__container{
                    .container__h1{
                        font-size: 36px;
                    }
                    .container__board{
                        
                            .board__content{
                                .board__content__items{
                                    p{
                                        //display: block;
                                        span{
                                           float: none;
                                        }
                                    }
                                }
                            }
                        
                    }

                }
            }
        }
    }

    main{
        .section__news{
            .news__content{
                grid-template-columns: repeat(2, 1fr);
                grid-row-gap: 20px;

            }
        }
        .section__history 
            .history__container 
                .history__content {
            
                    grid-template-columns: repeat(2, 1fr);
                    grid-column-gap: 50px;
            
        }

    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    header{
        section{
            .header__head{
                .header__menu{
                    .menu{
                        a{
                            font-size: 12px;    
                        }
                    }
                }   
                    
            }
            .header__container{
                
                .container__container{
                    .container__h1{
                        font-size: 36px;
                    }
                    .container__board{
                        padding: 20px 25px;
                            .board__title{
                                text-align: center;
                                h3{
                                    display: block;
                                }
                                span{
                                    display: block;
                                }
                            }
                            .board__content{
                                .board__content__items{
                                    p{
                                        //display: block;
                                        span{
                                           float: none;
                                        }
                                    }
                                }
                            }
                        
                    }

                }
            }
        }
    }

    main{
        .section__news{
            .news__content{
                grid-template-columns: repeat(2, 1fr);
                grid-row-gap: 20px;

            }
        }
        .section__publish {
            .publish__content{
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
                grid-row-gap: 20px;
                .publish__content_block{
                    .block__date{
                        padding: 5px 0px;
                    }
                    p{
                        padding: 5px 0px;
                    }

                }
            }
        
        }
        .section__history 
            .history__container 
                .history__content {
            
                    grid-template-columns: repeat(2, 1fr);
                    grid-column-gap: 50px;
            
        }

        .section__projects 
            .projects__container 
                .projects__content 
                    .projects__content_block {
                        .block__title{
                            padding: 50px 30px;
                        }
                        .block__info{
                            padding: 50px 30px;
                        }
                    }

    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    header{
        height: auto;
        section{
            .header__head{
                .header__menu{
                    display: none;
                }
                .hamburger__menu{
                    opacity: 1;
                }
                    
            }
            .header__container{
                
                .container__container{
                    
                    .container__h1{
                        width: 80%;
                        font-size: 32px;
                    }
                    .container__text{
                        width: 80%;
                        padding-right: 10px;
                    }
                    .container__board{
                        display: none;
                        position: relative;
                        margin-top: 20px;
                        .board__content{
                            
                            flex-direction: column;
                        }
                    }
                    .container__slider_nav{
                        display: none;
                        margin-top: 30px;
                    }

                }

                
            }
            
        }
        
    }

    main{
        .section__news{
            .news__content{
                grid-template-columns: repeat(2, 1fr);
                grid-row-gap: 20px;

            }
        }
        .section__history{
            padding: 50px 0px;
            .history__container{
                padding: 0;
                .history__header{

                }
                .history__content{
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(2, 1fr);
                    margin-top: 30px;
                }
            }
        }
        .section__news{
            height: auto;
            padding: 50px 0px;
            .news__header{
            margin-top: 0;
            }
            .news__content{
                grid-auto-rows: minmax(30px, auto);
                grid-template-rows: auto ;
                margin: 50px 0px;
                .news__content_block{
                    height: auto;
                    -webkit-filter: brightness(100%);
                    transition: 1s;
                    .block__text{
                        margin-top: 20px;
                        span{
                            display: none;
                        }
                    }
                }
                .news__content_block:hover{
                    -webkit-filter: brightness(70%);
                }
               
            }
        }
        .section__publish{
            .publish__header{
                padding-top: 50px;
            }
            .publish__content{
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
                grid-row-gap: 20px;
                margin: 50px 0px;
                .publish__content_block{
                    .block__date{
                        padding: 5px 0px;
                    }
                    p{
                        padding: 5px 0px;
                    }

                }
            }
        }

        .section__projects{
            height: auto;
            padding: 50px 0px;
            .projects__container{
                padding: 0 ;
                .projects__header{
                    .projects__header_h4{
                        margin-right: 0;
                    }
                }
                .projects__content {
                    margin-top: 30px;
                    .projects__content_block{
                        grid-template-columns: 1fr;
                        grid-auto-rows: minmax(300px, auto);
                        .block__title{
                            padding: 50px;
                        }
                        .block__info{
                            
                            .block__info_button{
                                margin-top: 15px;
                            }
                            
                        }
                    }
                }
            }
        }
    }

    footer{
        section{
            
            padding: 50px 0px;
            .footer__container 
            {

                .footer__title{
                    padding: 20px ;
                    align-items: center;
                    img{
                        width: 50%;
                    }
                   
                }
                .footer__content{
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                    text-align: center;
                    margin-top: 0;
                }
            }
        }
    }
    
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
    header{
        height: auto;
        section{
            .header__head{
                .header__menu{
                    display: none;
                }
                .hamburger__menu{
                    opacity: 1;
                }
                    
            }
            .header__container{
                padding-top: 10px;
                padding-bottom: 50px;
                .container__container{
                    .container__h1{
                        opacity: 1;
                        width: 80%;
                        font-size: 22px;
                    }
                    .container__text{
                        opacity: 1;
                        width: 80%;
                        padding-right: 10px;
                    }
                    .container__board{
                        display: none;
                        position: relative;
                        margin-top: 20px;
                        .board__content{
                            
                            flex-direction: column;
                        }
                    }
                    .container__button_more{
                        font-size: 14px;
                        padding: 10px 20px;
                        margin-bottom: 10px;
                        margin-top: 50px;
                    }
                    .container__slider_nav{
                        display: none;
                        margin-top: 30px;
                    }

                }
                .ship_animated{
                    
                    opacity: 1;
                    top: 250px;
                } 
            }
        }
    }

    main{
        .section__news{
            .news__content{
                grid-template-columns: repeat(2, 1fr);
                grid-row-gap: 20px;

            }
        }
        .section__history{
            padding: 50px 0px;
            .history__container{
                padding: 0;
                .history__header{
                    h2{
                        font-size: 20px;
                    }
                }
                .history__content{
                    display: block;
                    margin-top: 30px;
                    .history__content_block{
                        img{
                            opacity: 1;
                        }
                    }
                }
            }
        }
        .section__news{
            height: auto;
            padding: 50px 0px;
            .news__header{
                margin-top: 0;
                .news__header_h2{
                    font-size: 20px;
                }
                .news__header_h4{
                    a{
                        
                        font-size: 9px;
                    }
                }
            }
            .news__content{
                grid-template-columns: 1fr;
                grid-auto-rows: minmax(30px, auto);
                grid-template-rows: auto ;
                margin: 50px 0px;
                .news__content_block{
                    height: auto;
                    -webkit-filter: brightness(100%);
                    transition: 1s;
                    .block__text{
                        margin-top: 20px;
                        span{
                            display: none;
                        }
                    }
                }
                .news__content_block:hover{
                    -webkit-filter: brightness(70%);
                }
                .news__content_block.hide{
                    display: none;
                }
            }
        }
        .section__publish{
            .publish__header{
                
                padding-top: 50px;
                .publish__header_h2{
                    font-size: 20px;
                }
                .publish__header_h4{
                    a{
                        
                        font-size: 9px;
                    }
                }
            }
            .publish__content{
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: none;
                margin: 50px 0px;
                .publish__content_block{
                    .block__date{
                        padding: 5px 0px;
                    }
                    p{
                        font-size: 12px;
                        padding: 5px 0px;
                        a{
                            font-size: 10px;
                        }
                    }

                }
                .publish__content_block.hide{
                    display: none;
                }
            }
        }

        .section__projects{
            height: auto;
            padding: 50px 0px;
            .projects__container{
                padding: 0 ;
                .projects__header{
                    position: relative;
                    .projects__header_h2{
                        font-size: 20px;
                    }
                    .projects__header_h4{
                        margin-right: 0;
                        a{
                            
                            font-size: 9px;
                        }
                    }
                    .container__slider_nav{
                        .slider_nav__button{
                            width: 30px;
                            height: 30px;
                            margin-left: 10px;
                        }
                    }
                }
                .projects__content {
                    margin-top: 30px;
                    .projects__content_block{
                        width: 100%;
                        grid-template-columns: 1fr;
                        grid-auto-rows: minmax(300px, auto);
                        .block__title{
                            padding: 20px;
                            .title_text{
                             p{
                                font-size: 10px;
                            }   
                            }
                            
                            
                        }
                        .block__info{
                            
                            .block__info_button{
                                margin-top: 15px;
                            }
                            
                        }
                    }
                }
            }
        }
    }

    footer{
        section{
            padding: 50px 0px;
            .footer__container 
            {
                .footer__content{
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                    text-align: center;
                    margin-top: 0;
                }
            }
        }
    }
}

